replicaCount: 1

image:
  repository: ghcr.io/icub3d/home
  pullPolicy: Always
  tag: "main"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: home.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: home-tls
      hosts:
        - home.example.com

persistence:
  enabled: true
  size: 1Gi
  storageClass: ""
  accessMode: ReadWriteOnce

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
