# Environments
.env
.env.*
!.env.example

# Logs
*.log
backend/*.log

# Dependencies
node_modules/

# Rust
target/
backend/target/
dist
backend/photos/

# Frontend
frontend/dist/
frontend/dist-ssr/

# Mobile
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# OS
.DS_Store
Thumbs.db

# Helm
charts/**/values-local.yaml